<h4>LIMS Box</h4>
<div class="control-group">
    <label class="control-label">IP Address</label>
    <div class="controls">
        <input type="text" minlength="7" maxlength="15" size="15"
            data-bind="value: settings.settings.plugins.sensordatavis.lims_ip"
            pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$"/>
    </div>
    {# <label class="control-label">Port</label>
    <div class="controls">
        <input type="number" size="32" data-bind="value: settings.settings.plugins.sensordatavis.lims_port"/>
    </div> #}
</div>

<h4>Arduino UNO</h4>
<div class="control-group">
    <label class="control-label">{{ _('Port') }}</label>
    <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: settings.plugins.sensordatavis.arduino_port" />
    </div>

    {# <label for="arduino_baud" class="control-label">{{ _('Baud') }}</label>
    <div class="controls">
        <input id="arduino_baud" type="number" size="32" data-bind="value: arduino_baud" />
    </div> #}
</div>